footer {
    background-color: var(--color-dark);
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 300;
    padding: 20px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }
}