#projects {
    padding-top: 200px;
    width: 100%;

    .container {
            display: flex;
            justify-content: center;
            text-align: center;

            @include desktop {
                justify-content: flex-start;
                text-align: start;
            }

        .headline {
            
            

            h2 {
                font-weight: 800;
            }

        }

        .content {
            @include tablet {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: fit-content;
            }
        }

    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        @include desktop {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
        }
        .content-box {
            position: relative;

            img {
                width: 100%; 
                display: block;
            }
            

            p {
                color: var(--color-light);
            }
            

          

            .text-box {
                position: absolute;
                bottom: 0px;
                left:0px;
                background-color: rgba(79, 89, 85, 0.6);
                width: 100%;


                .text {
                    display: flex;
                    flex-direction: column;
                    padding: 15px 20px;

                }
                
                h6 {
                    color: var(--color-light);
                }
            }
            .text-box-colored {
                background-color: var(--color-primary);
                position: absolute;
                bottom: 0px;
                left:0px;
                width: 100%;

                i {
                    color: var(--color-light);
                    font-size: 50px;
                    position: absolute;
                    bottom: 40px;
                    right: 40px;
                    font-weight: 500;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    padding: 30px 20px;

                }
                // h6 {
                //     padding-top: 10px;
                // }
            }

        }
    }
}