#recent-projects {
    padding: 100px 0;
    
    .container {

        display: flex; 
        flex-direction: column;
        @include desktop {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: "maincontent maincontent maincontent projects";
        }
        
        .date {
            font-size: 14px;
            font-weight: 200;
            
            i {
                margin-right: 5px;
                opacity: 50%;
            }
        }


        
        .main-content {
            grid-area: maincontent;
            padding: 0 50px 0 0;
            border-right: 2px solid var(--color-gray);

            .big-img {
                display: none;
                
                @include desktop {
                    display: block;
                }
            }

            .headline-box {
               display: flex;
               flex-direction: column;
                h6 {
                    color: var(--color-primary);
                }
                
                img {
                    margin: 20px 0;
                }
            }

            p {
                font-size: 14px;
                font-weight: 400;
            }
    
            .text-content {

                .paragraphs {
                    position: relative;
                    padding-left: 20px;
                    margin: 5px 0;

                    i {
                        color: #5D8C87;
                        font-size: 50%;
                        position: absolute;
                        left: 0px;
                        top: 10px;
                    }
                    
                }
            }
    
            .content-box {
                gap: 2em;
                margin: 20px 0;

                @include tablet {
                    display: flex;
                }
    
            }
    
            .text-content {
                
                p {
                    margin: 10px 0;
                }

                .mini-img {
                    margin: 20px 0;
                }
    
            }
        }

        .content {
            grid-area: projects;
            padding: 0 0 0 50px;
            

            .projects {

                hr {
                    opacity: 20%;
                }
                
                .project-box {
                    display: flex;
                    margin-bottom: 10px;

                    
                    .date-box {
                        display: flex;
                        flex-direction: column;
                        margin-left: 10px;
                        margin-top: 10px;
                        
                        h6 { 
                           color: var(--color-primary);
                        }
                    }
                
                }
            }
            .tags-box {
                padding: 0 20px;
    
    
                a {
                    margin: 5px 5px;
                }
                
                .button-box {
                    display: flex;
                    margin: 10px 0;
    
                    
    
                    .btn-light {
                        padding: 5px 10px;
                        border-radius: 25px;
                        border: 2px solid var(--color-gray);
                        font-size: 14px;
                        font-weight: 300;
                    }
    
                }
    
            }
        }
        .tag-buttons{
            display: none;

            @include desktop {
                display: flex;
                gap: 10px;

            }
            h6 {
                color: var(--color-primary);
            }

            .btn-secondary {
                padding: 5px 10px;
                border-radius: 25px;
                font-size: 14px;
                font-weight: 300;
            }
        }
    }

}